@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Montserrat:wght@300;700&display=swap');

@keyframes colorful-text {
  0% {
    background: salmon;
  }
  50% {
    background: yellow;
  }
  100% {
    background: blue;
  }
  /* 100% {
    background: salmon;
  } */
}

@keyframes stretch {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(300px);
  }
}

p, a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
}

div {
  font-size: 1.5rem;
}

.bold-italic {
  font-weight: bold;
  font-style: italic;
}

h1 {
  font-family: 'Kdam Thmor Pro', Arial, Helvetica, sans-serif;
  font-size: 3rem;
  font-weight:700;
}

.box {
  width: 100px;
  height: 100px;
  background: salmon;
}

.box:hover {
  animation: stretch 5s infinite alternate;
}

a:hover {
  font-size: 3rem;
}

a:visited {
  color: orange;
}